 /* Custom Fonts */
 @font-face {
    font-family: Longue;
    src: url('./assets/font/Longue-3zL9Z.otf');
    font-weight: 400;
 }

 /* Default CSS */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
 }

 body {
    /*font-family: 'Longue', sans-serif !important;*/
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff !important;
    background-color: #121212 !important;
    overflow-x: hidden;
    position: relative
 }

 h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
 }

 nav.navbar {
    padding: 18px 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: #121212 !important;
    transition: 0.32s ease-in-out;
 }
 nav.navbar.scrolled {
    padding: 0px 0;
    background-color: #121212;
 }
 nav.navbar a.navbar-brand {
    width: 9%;
 } 
 nav.navbar .navbar-nav .nav-link.navbar-link {
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.8px;
    padding: 15px;
    font-size: 25px;
    opacity: 0.75;
 }
 nav.navbar .navbar-nav .nav-link.navbar-link:hover,
 nav.navbar .navbar-nav .nav-link.navbar-link.active {
    opacity: 1;
 }
 span.navbar-text {
    display: flex;
    align-items: center;
 }

 /* icon */
.social-icon {
    display: inline-block;
    margin-left: 14px;
}
 .social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    align-items: center;
    justify-content: center;
    line-height: 1;
 }
 .social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
 }
 .social-icon a:hover::before {
    transform: scale(1);
 }
 .social-icon a img {
    width:40%;
    z-index: 1;
    transition: 0.3s ease-in-out;
 }
 /* .social-icon a:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(100%) contrast(100%);
 } */

 .navbar-text button {
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    padding: 18px 34px;
    font-size: 18px;
    margin-left: 18px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
 }
 .navbar-text button span {
    z-index: 1;
 }
.navbar-text button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
    color: #121212;
}
.navbar-text button:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}

/* Banner */
.banner {
   margin-top: 0;
   padding: 260px 0 100px 0;
   background-image: url('./assets/images/background_space2.jpg');
   background-position: top center;
   background-size: cover;
   background-repeat: no-repeat;
}

/* Skills */
.skills {
   margin: 100px;
   padding: 130px 0px 190px 0;
   background-image: url('./assets/images/skills_rectangle.jpg');
   background-position: top center;
   background-size: cover;
   background-repeat: no-repeat;
}

/* Projects */
.projects {
   margin-top: 0;
   padding: 75px 0 0px 0;
   background-image: url('./assets/images/background_pink.jpg');
   background-position: top center;
   background-size: cover;
   background-repeat: no-repeat;
}